
body {
    background-color: #8DA2C9;
    font-family: georgia;
}
#title {
    text-align: center;
    color: #091833;
    background-color: #DAE6FC;
    padding: 10px 0 15px 0;
    border-radius: 20px;
}
#img-div {
    margin: 15px;
}
#image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
#img-caption {
    margin: 15px auto;
    font-style: italic;
}
#tribute-info {
    background-color: #DAE6FC;
    color: #091833;
    max-width: 700px;
    margin: 20px auto;
    padding: 30px 60px 40px 60px;
    text-align: justify;
    border-radius: 15px;
    line-height: 1.3em;
}
h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}
#link-phrase {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
}
#dead-date {
    font-size: 18px;
    font-style: italic;
    margin: 30px 0px 30px 0px;
}
ul {
    line-height: 1.5em;
}
/* #091833
    #DAE6FC */
